<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <h1
      style="
        text-align: center;
        width: 100%;
        margin-top: 40vh;
        color: rgb(25, 25, 159);
      "
    >
      WELCOME TO SPEAKER MANAGEMENT APP
    </h1>
  </body>
</html>
